<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>bruh</title>
</head>

<body>
    <div id="form__div">
        <h1>Add a product</h1>
        <form id="form__form">
            <input type="text" id="input" required>
            <button type="submit" id="send__button">add product</button>
        </form>
    </div>

    <div id="products__div">
        

    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/scripts.js"></script>

</script>
</body>

</html>